<!DOCTYPE html> 
<html>
    <head>
        <link rel="shortcut icon" href="/static/favicon.ico" />
        <title>Topchat - Online chat application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="An online chat application that also lets you create and customise chat rooms for your own websites.">  
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/styles.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
    </head>

    <body id="holding_body">
        <div id="container" class="container_holding">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <div class="container">
                <div class="row-fluid">
                    <div class="offset2 span12">
	                    <div class="span2_tight">
	                        <img width="70" height="107" src="/static/img/logo.png" />
	                    </div>
	                    <br />
	                    <div class="span5">
	                        <div class="page-header">
	                            <h1>Topchat <small> online chat</small></h1>
	                        </div>
	                    </div>
                    </div>
                </div>
                <div class="row-fluid">
                	<div class="offset2 span12">
                		<div class="span2_tight"></div>
                		<div class="span6">
                			<p class="lead">Sorry, the page you are looking for does not exist.</p>
						</div>
					</div>
                </div>
            </div>
        </div>
    </body>
</html>