<!DOCTYPE html> 
<html>
    <head>
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
        <title>Create a chat room today - {% block title %}{% endblock %} - Topchat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="{% block description %}{% endblock %}Topchat lets you create chat rooms that you can add to your own website for free.">  
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/jquery.cssemoticons.css" />
        {% block extrahead %}{% endblock %}
    </head>

    <body>
        <div id="wrap">
            <div id="container" class="container">
                <div class="header">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span1"></div>
                            <div class="span2_logo">
                            	<br />
                                <img width="140" height="140" src="{{STATIC_URL}}img/logo.png" />
                            </div>
                            <div class="span4">
                                <div class="page-header">
                                    <h1>Topchat <small> online chat</small></h1>
                                    <p class="lead"><strong>Create a chat room today</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main_body" class="container-fluid">
                	{% block dashboard_alert_bar %}
                	{% if user.is_authenticated %}
	                	<div class="row-fluid">
	                		<div class="alert alert-info">
	                			<button type="button" class="close" data-dismiss="alert">×</button>
		        				<p align="center"><a href="{% url dashboard_general %}">Create, customise and manage your own rooms</a>.</p>
		    				</div>
	                	</div>
               		{% endif %}
               		{% endblock %}
                    <div class="row-fluid">
                        <div class="span1"></div>
                        <div class="span11">
                            {% block primary %}{% endblock %}
                        </div>
                    </div>
                </div>
                <div class="navbar navbar-static-top navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <ul class="nav">
                        	<li class="divider-vertical"></li>
                            <li{% block navBarHomeState %} class="active"{% endblock %}><a href="{% url home %}">Home</a></li>
                            {% if user.is_authenticated %}
                            	<li class="divider-vertical"></li>
                            	<li{% block navBarDashboardState %}{% endblock %}><a href="{% url dashboard_general %}">Dashboard</a></li>
                            {% endif %}
                            <li class="divider-vertical"></li>
                            <li{% block navBarGettingStartedState %}{% endblock %}><a href="{% url get_started %}">Get started</a></li>
                            <li class="divider-vertical"></li>
                            <li{% block navBarAboutState %}{% endblock %}><a href="{% url about %}">About</a></li>
                            <li class="divider-vertical"></li>
                        </ul>
                        <div class="pull-right">
	                        <form action="{% url search %}" class="navbar-search pull-left">
	                            <input type="text" class="search-query" name="q" placeholder="Search rooms" />
	                       	</form>
	                        <ul class="nav pull-right">
	                        	<li class="divider-vertical"></li>
	                        	<li{% block navBarCreateRoomState %}{% endblock %}><a href="{% url create_room %}">Create room</a></li>
	                        	<li class="divider-vertical"></li>
	                        	{% if user.is_authenticated %}
	                                <li><a href="{% url logout %}">Log out</a></li>
	                            {% else %}
	                                <li{% block navBarLoginState %}{% endblock %}><a class="highlighted_link" href="{% url login %}">Log in</a></li>
	                            {% endif %}
	                            <li class="divider-vertical"></li>
	                       	</ul>
                       	</div>
                    </div>
                </div>
                <!--[if lt IE 9]><script type="text/javascript" src="{{ STATIC_URL }}js/excanvas.js"></script><![endif]-->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
                <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
                <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
                <script src="{{ STATIC_URL }}js/topchat.js"></script>
                <script src="{{ STATIC_URL }}js/jquery.cssemoticons.min.js"></script>
                {% block extrascripts %}{% endblock %}
            </div>
            <div class="footer-wrap" id="push"></div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row-fluid">
                	<div class="span3">
                		<span>Designed and built by <a href="http://github.com/abbas123456" >abbas123456</a></span>
               		</div>
                	<div class="span7"></div>
                	<div class="span2">
                		<a target="_blank" href="http://www.rapidssl.com/"><img class="social pull-right" src="{{STATIC_URL}}img/RapidSSL_SEAL-90x50.gif" /></a>
               		</div>
                </div>
        </div>
        </footer>
        <script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-36759104-1']);
			_gaq.push(['_trackPageview']);
			
			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
       </script>
    </body>
</html>