{% extends "base.html" %}
{% block title %} About{% endblock %}
{% block navBarHomeState %}{% endblock %}
{% block navBarAboutState %} class="active"{% endblock %}
{% block primary %}
<div class="row-fluid">
    <div class="span11">
        <h3>About topchat</h3>
        <p>Topchat lets you create and customise chat rooms that you can add to your own website for free.</p>
        <hr />
        <h3>How it works</h3>
        <p>All you need to is register with topch.at and you will then be able to create as many chat rooms as you want.
        When you create a chat room you will be given some html code that you can copy and paste onto your website and that's all you need to do.
        The chat room is hosted on topch.at so you don't have to install anything on your server or anything fiddly like that. </p>
        <hr />
        <h3>Terms of use</h3>
        <p>When using this service you are agreeing to the following:</p>
        <ol>
        	<small><li>Any action that is deemed harmful, threatening, abusive, harassing, or racist will not be tolerated and will result in your ip address being blacklisted.</li></small>
        </ol>
        <hr />
        <h3>Terms and conditions</h3>
        <ol>
        	<small><li>topch.at does not take any responsibility for the content of conversations in the chat rooms.</li></small>
        	<small><li>topch.at holds the right to delete any chat rooms that are in their nature unlawful or offensive.</li></small>
        </ol>
        <hr />
    </div>
</div>
{% endblock %}