{% extends "base.html" %}
{% block title %} Home{% endblock %}
{% block navBarHomeState %} class="active"{% endblock %}
{% block navBarAboutState %}{% endblock %}
{% block primary %}
<div class="row-fluid">
    <div class="span11">
		<div id="carousel" class="carousel slide">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item">
		       <div class="hero-unit">
	                <h1 class="hero-unit-header">Welcome to Topchat</h1>
	                <br />
	                <p class="lead hero-unit-lead">Topchat lets you create and customise chat rooms that you can add to your own website for free.</p>
	                <a href="{% url get_started %}" class="pull-right btn btn-large btn-primary">Get started</a>
	           </div>
		    </div>
		    <div class="item">
		       <div class="hero-unit">
	                <h1 class="hero-unit-header">Take part in the action</h1>
	                <br />
	                <p class="lead hero-unit-lead">You can browse through the chat rooms and talk to other people around the world, including our bots.</p>
	                <a href="{% url search %}" class="pull-right btn btn-large btn-primary">Browse all rooms</a>
	           </div>
		    </div>
		  </div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
		</div>
    </div>
</div>
<div class="row-fluid">
    <div class="span4 promo">
        <h3>Why use Topchat?</h3>
        <hr />
        <blockquote>
            <p>Adding a Topchat room gave people more of an incentive to stay on my site. </p>
            <small>solocover.com webmaster</small>
        </blockquote>
        <br />
        <blockquote>
            <p>No installation required, was up and running in 5 minutes</p>
            <small>Steve Jenkins</small>
        </blockquote>
    </div>
    <div class="span3 promo">
        <h3>Features</h3>
        <hr />
        <p class="lead"><span class="badge badge-success"><i class="icon-ok"></i></span> Free</p>
        <p class="lead"><span class="badge badge-success"><i class="icon-ok"></i></span> Secure</p>
        <p class="lead"><span class="badge badge-success"><i class="icon-ok"></i></span> Browser based</p>
        <p class="lead">
            <a href="{% url room_detail 'main-room' 1 %}" class="field_span12 btn btn-large btn-primary promo_button">Try the demo</a>
        </p>
    </div>
    <div class="span4 promo">
        <h3>How to add to your site</h3>
        <hr />
        <p class="lead"><span class="badge badge-info">1</span> Register your username </p>
        <p class="lead"><span class="badge badge-info">2</span> Create a room </p>
        <p class="lead"><span class="badge badge-info">3</span> Copy 
            <a id="html_code_tooltip" href="#" rel="tooltip" data-original-title="This will be generated for you as a html iframe. This should then be copied and pasted to your own website on the page you want the chat room to be.">html</a> code to your site
        </p>
        <p class="lead">
            <a href="{% url register %}" class="field_span12 btn btn-large btn-primary promo_button">Register now</a>
        </p>
    </div>
</div>
<br />
{% endblock %}