{% extends "base.html" %}
{% block primary %}
<div class="span12" id="chat_div">
    <div class="row-fluid">
	    <div class="span10">
	       <div id="chat_text_area" class="field span12">
	       </div> 
	    </div>
		<div class="span2">
		    <div id="scroll_body" class="scrolling">
		        <table id="chat_user_table" class="scroll_padded table-condensed table-hover">
		            <tbody id="chat_user_table_body">
		            </tbody>
		        </table>
		    </div>
	    </div>
    </div>
    <div class="row-fluid">
        <div class="span10">
           <div class="span10">
               <input class="field span12" id="chat_input" />
           </div>
           <div class="span2">
            <button id="chat_send_message_button" class="field span12 btn btn-inverse" type="button">Send message</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}