{% extends "base.html" %}
{% block title %}{{ object }}{% endblock %}
{% block primary %}
<div class="row-fluid">
	<div class="span11" id="chat_div">
	    <div id="disconnected_alert" style="display:none" class="alert alert-error">
	        <p>Looks like you've been disconnected, <a id="reconnect_button" href="#">click here</a> to re-connect</p>
	    </div>
	    <p class="lead">{{ object }}</p>
	    <div class="row-fluid">
		    <div class="span9 chat_box" style="background-color:#{{ object.appearance.background_colour}};color:#{{ object.appearance.text_colour}};">
		       <div id="chat_text_area" class="chat_div">
		       </div> 
		    </div>
			<div class="span3 chat_box" style="background-color:#{{ object.appearance.background_colour}};color:#{{ object.appearance.text_colour}};">
			    <div id="chat_user_list" class="chat_div">
			    	<ul class="nav nav-tabs nav-stacked user-list">
			    		<li class="dropdown">
			    			<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-eye-open icon-white pre-text"></i>Mobot</a>
		    			</li>
		    		</ul>
			    </div>
		    </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span9">
	           <div class="span10">
	               <input class="field span12" id="chat_input" />
	           </div>
	           <div class="span2">
	            <button id="chat_send_message_button" class="field span12 btn btn-inverse" type="button">Send</button>
	            <input type="hidden" id="chat_user_room_number" value="{{ object.id }}" />
	           </div>
	        </div>
	    </div>
	</div>
</div>
<div class="row-fluid">
	    <div class="span11">
	    <p class="lead">All rooms:</p>
	    {% for room in rooms %}
	        <small><a href="{{ room.get_absolute_url }}">{{ room }}</a></small><br />
	    {% endfor %}
    </div>
</div>

<div id="login_register_modal" class="modal hide fade">
  <div class="modal-header">
    <h3 id="myModalLabel">Login or Register</h3>
  </div>
  <div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="login_register_username">Username</label>
				<div class="controls">
					<input type="text" id="login_register_username" placeholder="Username" value="{{ user.username }}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="login_register_username">Password</label>
				<div class="controls">
					<input type="password" id="login_register_password" placeholder="Password">
					<span id="login_register_error" style="display:none" class="help-inline">Username already taken / incorrect password</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button id="login_register_button" type="submit" class="btn btn-primary">Login / Register</button>
					<button id="login_as_a_guest_button" type="submit" class="btn btn-inverse">Login as guest</button>
				</div>
			</div>
		</form>
  </div>
</div>
{% endblock %}
