{% extends "base.html" %}
{% block title %}{{ object }}{% endblock %}
{% block primary %}
<div class="row-fluid">
	<div class="span11" id="chat_div">
	    <div id="disconnected_alert" style="display:none" class="alert alert-error">
	        <p>Looks like you've been disconnected, <a id="reconnect_button" href="#">click here</a> to re-connect</p>
	    </div>
	    <p class="lead">{{ object }}</p>
	    <div class="row-fluid">
		    <div class="span9 chat_box" style="background-color:#{{ object.appearance.background_colour}};color:#{{ object.appearance.text_colour}};">
		       <div id="chat_text_area" class="field span12">
		       </div> 
		    </div>
			<div class="span3 chat_box" style="background-color:#{{ object.appearance.background_colour}};color:#{{ object.appearance.text_colour}};">
			    <div id="scroll_body" class="scrolling">
			        <table id="chat_user_table" class="scroll_padded table-condensed table-hover">
			            <tbody id="chat_user_table_body">
			              <tr id="MoBot" name="UserListUsernames"><td><i class="icon-eye-open icon-white" /></i> MoBot</td></tr>
			            </tbody>
			        </table>
			    </div>
		    </div>
	    </div>
	    <div class="row-fluid">
	        <div class="span9">
	           <div class="span10">
	               <input class="field span12" id="chat_input" />
	           </div>
	           <div class="span2">
	            <button id="chat_send_message_button" class="field span12 btn btn-inverse" type="button">Send</button>
	            <input type="hidden" id="chat_user_room_number" value="{{ object.id }}" />
	               {% if user.is_authenticated %}
	                   <input type="hidden" id="chat_user_username" value="{{ user.username }}" />
	                   <input type="hidden" id="chat_user_password" value="{{ user.password }}" />
	               {% endif %}
	           </div>
	        </div>
	        <div class="span3">
	        	<div class="row-fluid">
	        		<div class="span6">
	        			<button id="change_username_popover" rel="popover" class="field span12 btn btn-mini btn-primary" type="button"
	        			data-content="<form class='popover_form form-inline'><input id='change_username_username' type='text' class='input-small' placeholder='username'><button id='change_username_button' class='btn btn-small btn-inverse'>Change</button></form>"
	        			> Change username</button>
	        		</div>
	        		<div class="span6">
	        			<button id="login_register_popover" rel="popover" class="field span12 btn btn-mini btn-primary" type="button"
	        			data-content="<form class='popover_form form-inline'><input id='login_register_username' type='text' class='input-mini' placeholder='username'><input id='login_register_password' type='password' class='input-mini' placeholder='password'><button id='login_register_button' class='btn btn-small btn-inverse'>Submit</button></form>"
	        			> Login / Register</button>
	        		</div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>
<div class="row-fluid">
	    <div class="span11">
	    <p class="lead">All rooms:</p>
	    {% for room in rooms %}
	        <small><a href="{{ room.get_absolute_url }}">{{ room }}</a></small><br />
	    {% endfor %}
    </div>
</div>
{% endblock %}
