{% extends "dashboard/base.html" %}
{% block extrascripts %}
<script type="text/javascript">
$('input[type="text"]').typeahead({
    source: function(query, typeahead) {
        $.ajax({
            url: "/user-list/"+query+"/8/",
            dataType: "json",
            type: "GET",
            success: function(data) {
                var return_list = [], i = data.length;
                while (i--) {
                    return_list[i] = data[i].username.toString();
                }
                return typeahead(return_list);
            }
        });
    },
}).blur(deleteIfNotInList);

function deleteIfNotInList() {
	names = new Array();
	$('.dropdown-menu').children("li").each(function(k, v){
		names.push($(v).attr('data-value'))
	});
    if ($.inArray($(this).val(), names) == -1 && names.length > 0) {
		$(this).val("")
    }
};
</script>
{% endblock %}
{% block content %}
<div class="span6">
	<br />
	<form action="" method="post" class="form-horizontal">
		{% csrf_token %}
	    {{ formset.management_form }}
	    {% for form in formset %}
	    	<div class="control-group">
	    		<label class="control-label">Username</label>
		    	<div class="controls">
	        		{{ form.id }}
	        		{{ form.administrator|safe }}
	        		{% if form.instance.id %}
	        			<a class="delete_administrator_buttons" href=""><i class="icon-white icon-trash pre-text"></i></a>
	        		{% endif %}
	        		<div style="display:none">{{ form.DELETE }}</div>
	       		</div>
	   		</div>
	    {% endfor %}
	    <div class="control-group">
		    <div class="controls">
		        <input type="submit" class="btn btn-primary" value="Save" />
	            <a class="btn btn-inverse" href="">Reset</a>
		    </div>
		</div>
	</form>
</div>
{% endblock %}