<div class="row-fluid">
	<div class="row-fluid">
	<form action="." method="GET">
		<select id="navigation_room_dropdown" name="room" class="pull-right">
			<option value="0">Choose a room...</option>
			{% for room in rooms %}
		  		<option {% if current_room == room.id %}selected="selected"{% endif %}value="{{ room.id }}">{{ room.name }}</option>
			{% endfor %}
		</select>
	</form>
	</div>
	<div class="row-fluid">
		<a href="{% url create_room %}" class="pull-right btn btn-primary"><i class="icon-white icon-plus pre-text"></i> New room</a>
	</div>
</div>
<div class="row-fluid">
<ul class="nav nav-pills">
  <li class="{% if current_url == 'dashboard_general' %}active{% endif %}">
  	{% if has_room_selected %}
    	<a href="{% url dashboard_general %}?room={{ current_room }}">General settings</a>
    {% else %}
		<a href="{% url dashboard_general %}">General settings</a>    
    {% endif %}
  </li>
  <li class="{% if current_url == 'dashboard_appearance' %}active{% endif %}">
  	{% if has_room_selected %}
    	<a href="{% url dashboard_appearance %}?room={{ current_room }}">Appearance</a>
    {% else %}
    	<a href="{% url dashboard_appearance %}">Appearance</a>
    {% endif %}
  </li>
  <li class="{% if current_url == 'dashboard_administrators' %}active{% endif %}">
  	{% if has_room_selected %}
    	<a href="{% url dashboard_administrators %}?room={{ current_room }}">Administrators</a>
   	{% else %}
   		<a href="{% url dashboard_administrators %}">Administrators</a>
   	{% endif %}
  </li>
</ul>
</div>
{% if not has_room_selected %}
	<p class="lead">Choose a room to manage or <a href="{% url create_room %}">create</a> a new room</p>
{% endif %}