{% extends "standalone_room_base.html" %}
{% block primary %}
<div class="span12" id="chat_div">
    <div id="disconnected_alert" style="display:none" class="alert alert-error">
        <p>Looks like you've been disconnected, <a id="reconnect_button" href="#">click here</a> to re-connect</p>
    </div>
    <p class="lead">{{ object }}</p>
    <div class="row-fluid">
	    <div class="span9 chat_box" style="background-color:#{{ object.appearance.background_colour}};color:#{{ object.appearance.text_colour}};">
	       <div id="chat_text_area" class="chat_div">
	           {% if object.is_active %}
		           <p>{{ object.description }}</p>
		       {% else %}
		           <p>This room is currently inactive. Please try again later.</p>
		       {% endif %}
	       </div> 
	    </div>
		<div class="span3 chat_box" style="background-color:#{{ object.appearance.background_colour}};color:#{{ object.appearance.text_colour}};">
		    <div id="chat_user_list" class="chat_div">
		    	<ul class="nav nav-tabs nav-stacked user-list">
		    		<li style="display:none"></li>
	    		</ul>
		    </div>
	    </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
           <div class="span9">
               <input class="field span11" id="chat_input" />
               <button id="emoticon_popover" rel="popover" class="pull-right field span1 btn btn-inverse" type="button"
               data-content=" :-) :) :o) :c) :^) :-D :-( :-9 ;-) :-P :-p :-b :-O :-/ :-X :-# :'( B-) 8-) :-\ ;*( :-* :] :&gt; =] =) 8) :} :D 8D XD xD =D :( :&lt; :[ :{ =( ;) ;] ;D :P :p =P =p :b :O 8O :/ =/ :S :# :X B) O:) <3 ;( >:) >;) >:( O_o O_O o_o 0_o T_T ^_^ ?-)"
               >:-)</button>
           </div>
           <div class="span3">
            <button id="chat_send_message_button" class="field span12 btn btn-inverse" type="button">Send</button>
            {% if object.is_active %}
            	<input type="hidden" id="chat_user_room_number" value="{{ object.id }}" />
            	<input type="hidden" id="websocket_string" value="{{ websocket_string }}" />
            {% endif %}
        </div>
        </div>
        <div class="span3">
        	<p class="pull-right">Powered by <a target="_blank" href="https://www.topch.at">topch.at</a></p>
        </div>
    </div>
</div>
<div id="login_register_modal" class="modal hide fade">
  <div class="modal-header">
    <h3 id="myModalLabel">Login or Register</h3>
  </div>
  <div class="modal-body">
		<form class="form-horizontal">
			{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="login_register_username">Username</label>
				<div class="controls">
					<input type="text" id="login_register_username" placeholder="Username" value="{{ user.username }}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="login_register_username">Password</label>
				<div class="controls">
					<input type="password" id="login_register_password" placeholder="Password">
					<span id="login_register_error" style="display:none" class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button id="login_register_button" type="submit" class="btn btn-primary">Login / Register</button>
					<button id="login_as_a_guest_button" type="submit" class="btn btn-inverse">Login as guest</button>
				</div>
			</div>
		</form>
  </div>
</div>
{% endblock %}